<div class="container">
<div class="row">
	<header class="col-sm-12 clearfix-header visible-lg">
	    <h1>DOCS HOME<h1>
	</header>

	<header class="col-sm-12 clearfix-header visible-xs"  style="margin-top: 60px"">
	    <h1>DOCS HOME</h1>
	</header>
</div>

<div class="container-fluid">
<h1>What is Document Lab?</h1>
</div>
<div class="container-fluid">
<p><b>Document Lab allows you to describe the structure of the APIs and  can test the working of  them.</b></p>

<p style="text-align: justify"> Document Lab gives the ability for APIs to display its own structure.And users can experience the working of it.<br> Why Document Lab? Well,by adding the curresponding json file with description anyone can prepare easy interactive API documentation<br> Document Lab can be easily accessible and maintainable and it incluedes some  other possibilities like Testing of APIs<br>
<ul>

<li>What are all the operations that your API supports?</li><br>
<li>What are your API’s parameters and what does it return?</li><br>
<li>Does your API need some authorization?</li><br>	
<li>And even fun things like terms, contact information and license to use the API.</li></p>


</div>

</div>



	