<div class="container">
<div class="row">

	<header class="col-sm-12 clearfix-header visible-lg">
	    <h1>EVENTS<h1>
	</header>

	<header class="col-sm-12 clearfix-header visible-xs"  style="margin-top: 60px"">
	    <h1>EVENTS</h1>
	</header>
</div>
	<div class="container-fluid">
	
	<p>Document Lab help user to check every APIs and makes this data available to the user through  API.<br>Document Lab can be accessed by any user with the basic knowldge of javascript and JSON.<br> It allows user authentication through the key or token validation and authenticated users can check the modules in APIs.</p>
	</div>

</div>


