<div class="container features">
<div class="row">

	<header class="col-sm-12 clearfix-header visible-lg">
	    <h1>FEATURES OVER VIEW</h1>
	</header>

	<header class="col-sm-12 clearfix-header visible-xs"  style="margin-top: 60px"">
	    <h1>FEATURES OVER VIEW</h1>
	</header>
</div>
<div class="container-fluid">

		<div>
		<h4>Design •&nbsp;Document •&nbsp;Discover</h4>

		<p>With Document Lab, you have the whole API working at your fingertips:</p>

		<ul>
			<li>Collaborative design.</li>
			<li>Interactive documentation.</li>
			<li>And an easily maintainable scripts written in AngularJS</li>
		</ul>

		<p>At its core, Document Lab is based on the AngularJS principles of open, integrated technologies.</p>

		<ul>
			<!-- <li>Integrate with GitHub to protect your API versions.</li>
			<li>Link to DockerHub so API consumers can easily download and use your API.</li>
			<li>Use the SwaggerHub Registry API to integrate with our API directory.</li> -->
		</ul>
		 
		</div>
</div>

</div>



